---
layout: base.njk
templateClass: page-content
---

<div class="two-col">
    <section>
        {{ content | safe }}

        <h3>Recent Blog Posts</h3>
        {% set postslist = collections.posts | head(-3) %}
        {% include "templates/partials/posts-list.njk" %}

        <p>More posts can be found in <a href="{{ '/posts/' | url }}">the blog archive</a>.</p>
    </section>

    <section>
        <h3>Upcoming Events</h3>
        {% set eventslist = collections.events | upcoming %}
        {% include "templates/partials/events-list.njk" %}

        <h3>Past Events</h3>
        
    </section>
</div>